* {
  box-sizing: border-box; }

body { 
   font-size: 16px; 
   color: black; 
   font-family: sans-serif; 
   }  
 /** HEADER **/ 
 #header-nav { 
   background-color: grey; 
   border-color: black; 
   border-width: 3px; 
 } 
 #dish { 
   background-color: grey; 
   margin-left: 5%;
   margin-right: 5%;
 } 
 .navbar-brand { 
   padding-top: 10px; 
 } 
 
 .navbar-brand h1 { /* Restaurant name */ 
   border: 1;
   font-family: 'Lora', serif; 
   color: black; 
   font-size: 1.5em; 
   font-weight: bold; 
   margin-top: 0; 
   line-height: .75; 
 } 
 .navbar-brand a:hover, .navbar-brand a:focus { 
   text-decoration: none; 
 } 
 .navbar-brand p { /* Kosher cert */ 
   color: #000; 
   text-transform: uppercase; 
   font-size: .7em; 
   margin-top: 15px; 
 } 
 h2, h3 {
  text-align: center;
  font-weight: bold;
 }
 .navbar-brand p span { /* Star-K */ 
   vertical-align: middle; 
 } 
